{% extends 'base.html.twig' %}

{% block body %}



    <div class="container container-custom">
        {% for vdm_table in vdm_tables %}

        <div class="row row-custom">
            <div class="col-xs-12">
                <h1>Votre belle VDM ressemble à ...</h1>
            </div>
        </div>
        <div class="row row-custom">
            <div class="col-xs-6"><a href="{{ path('vdm_table_show', { 'id': vdm_table.id }) }}">{{ vdm_table.id }}</a>
                {{ vdm_table.title }}
            </div>
            <div class="col-xs-6">{{ vdm_table.content }}
            </div>
        </div>

        <div class="row row-custom">
            <div class="col-xs-6">{% if vdm_table.date %}{{ vdm_table.date|date('Y-m-d H:i:s') }}
            </div>
            <div class="col-xs-6">{% endif %}
                    {{ vdm_table.author }}
            </div>
        </div>
        <div class="row row-custom">
            <div class="col-xs-2">
                <a class="btn btn-default" role="button" href="{{ path('vdm_table_show', { 'id': vdm_table.id }) }}">show</a>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-default" role="button" href="{{ path('vdm_table_edit', { 'id': vdm_table.id }) }}">edit</a>
            </div>
        </div>

        {% endfor %}

        <div class="row row-custom">
            <div class="col-xs-4">
                <a class="btn btn-default" role="button" href="{{ path('vdm_table_new') }}">Votre nouvelle VDM</a>
            </div>
        </div>
    </div>
{% endblock %}

